footer {
    background-color: $footer-bg;
    padding: 1em;
    color: $footer-c;
}

.foot-div {
    margin-bottom: 3em;

    h2 {
        font-size: 2em;
        border-bottom: 2px solid $footer-c;
        margin-bottom: 0.5em;
    }

    li {
        margin-top: 0.5em;
    }

    a {
        color: $footer-c;
    }
}

.cc {
    font-size: 0.875em;
    display: flex;
    justify-content: center;
    border-top: 1px solid $button-border-background;

    p {
        padding-top: 1em;
    }
}