.index {
  background-blend-mode: lighten;
  background-image: linear-gradient(rgb(100, 100, 100), rgb(100, 100, 100)), url('../images/Background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;

  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    padding: 1em;
  }

  nav .logo {
    align-items: center;
    display: flex;
  }

  .logo p {
    font-size: 1.5em;
    margin-left: 0.5em;
  }

  nav .shopping {
    align-items: center;
    display: flex;
  }

  .shopping img {
    margin-right: 0.5em;
  }

  .shopping-button {
    background: none;
    border: 0;
  }

  .shopping-stora {
    display: none;
  }

  .tilbodsvika {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    font-size: 5em;
    font-weight: 700;
    text-align: center;
    //    overflow-wrap: break-word;
    // display: inline-block;
  }

  h2 {
    font-size: 2.25em;
    text-align: center;
  }

  .dropdown {
    background-color: #ffff;
    // transform: translateY(-120%);
    display: none;
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: calc(100%);
  }

  .dropdown .merki {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    padding: 1em;
  }

  .dropdown .linkar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .linkar a {
    color: #000;
    margin-bottom: 1em;
  }

  .linkar input {
    align-self: flex-end;
    margin: auto;
    max-width: 100%;
  }
}

.grad1 {
  display: none;
}

.dropdown:hover,
.shopping-button:focus ~ .dropdown {
  display: block;
}
