main {
    .bold {
        font-weight: bold;
    }
}

.nyjar-viku, .staersta-voruhus {
    display: flex;
    flex-direction: column;
    padding: 1em;

    img{
        margin-bottom: 1em;
    }

    p {
        margin-top: 1em;
        line-height: 2em;
    }
    
    button {
        display: block;
        background: $button-border-background;
        border: $button-border-background solid 1px;
        border-radius: 5px;
        color: white;
        // width: fit-content;
        padding: 10px 15px;
        margin: 0 auto;
        width: auto;
        justify-self: center;
    }

    .flugvel {
        display: none;
    }
}

.nyjustu-vorur, .voruurval-okkar {
    padding: 1em;
    background: $nyjar-vorur-bg;

    h2 {
        margin-bottom: 1em;
    }   
}


.vara-single-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    
    background: white;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;

    img {
        aspect-ratio: 21/9;
        object-fit: cover;
    }

    h3 {
        margin-top: 1em;
    }

    p {
        margin-top: 1em;
    }

    .tags {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 1em;
        
        p {
            font-size: 1em;
            padding: 0.25em;
            margin-right: 0.5em;
            background: $nyjar-vorur-bg;
            color: black;
            border-radius: 5px;
            margin-top: 0;
        }
    }

    button {
        background: white;
        border: 1px solid $button-border-background;
        border-radius: 5px;
        height: 2.75em;
        margin-top: 1em;
        width: 100%;
    }
}

.grad2, .grad3, .grad4, .grad5 {
    display: none;
}