main {
  .bold {
    font-weight: bold;
  }
}

.nyjar-viku,
.staersta-voruhus {
  display: flex;
  flex-direction: column;
  padding: 1em;

  img {
    margin-bottom: 1em;
  }

  p {
    line-height: 2em;
    margin-top: 1em;
  }

  button {
    background: $button-border-background;
    border: $button-border-background solid 1px;
    border-radius: 5px;
    color: #ffff;
    display: block;
    justify-self: center;
    margin: 0 auto;
    // width: fit-content;
    padding: 10px 15px;
    width: auto;
  }

  .flugvel {
    display: none;
  }
}

.nyjustu-vorur,
.voruurval-okkar {
  background: $nyjar-vorur-bg;
  padding: 1em;

  h2 {
    margin-bottom: 1em;
  }
}

.vara-single-card {
  // align-items: center;

  background: #ffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
  padding: 1em;

  img {
    aspect-ratio: 21/9;
    object-fit: cover;
  }

  h3 {
    margin-top: 1em;
  }

  p {
    margin-top: 1em;
  }

  a {
    color: #000;
  }

  .tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1em;
  }

  .tags p {
    background: $nyjar-vorur-bg;
    border-radius: 5px;
    color: #000;
    font-size: 1em;
    margin-right: 0.5em;
    margin-top: 0;
    padding: 0.25em;
  }

  button {
    background: #ffff;
    border: 1px solid $button-border-background;
    border-radius: 5px;
    cursor: pointer;
    height: 2.75em;
    margin-top: 1em;
    width: 100%;
  }
}

.grad2,
.grad3,
.grad4,
.grad5 {
  display: none;
}
