@media only screen and (min-width: 1000px) {
  nav .search-stora {
    display: block;
  }

  .nyjustu-vorur,
  .voruurval-okkar {
    padding: 4em 2em;

    h2 {
      margin-left: 6em;
    }

    .card-holder {
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .nyjar-viku,
  .staersta-voruhus {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em 2em;

    .bigdiv h2 {
      margin-bottom: 1.5em;
    }

    .bigdiv p {
      font-size: 1.25em;
      margin-bottom: 1.5em;
    }

    button {
      display: inline-block;
      font-size: 0.875em;
      margin: none;
      width: auto;
    }

    .flugvel,
    img {
      aspect-ratio: 16/9;
      display: block;
    }
  }

  .grad2,
  .grad4 {
    background: rgb(255, 255, 255);
    background: linear-gradient(179deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(225, 206, 194, 1) 50%, rgba(225, 206, 194, 1) 100%);
    display: block;
    height: 2.5em;
    width: 100%;
  }

  .grad3 {
    background: rgb(255, 255, 255);
    background: linear-gradient(179deg, rgba(225, 206, 194, 1) 0%, rgba(225, 206, 194, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 0%);
    display: block;
    height: 2.5em;
    width: 100%;
  }

  .grad5 {
    background: rgb(255, 255, 255);
    background: linear-gradient(179deg, rgba(225, 206, 194, 1) 0%, rgba(225, 206, 194, 1) 50%, #3c2a1e 50%, #3c2a1e 0%);
    display: block;
    height: 2.5em;
    width: 100%;
  }
}
