.pontun-container {
    padding: 1em;

    h2 {
        margin-bottom: 2em;
    }
    
    .ytri {
        display: flex;
        flex-direction: column;
        // gap: 1em;
    
        .stakt {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            margin: 1em 0;

            input {
                height: 2em;
                border: 1px solid black;
                border-radius: 5px;
            }
        }
    }

    .iKorfu {
        margin-top: 1em;
        display: flex;
        flex-direction: column;

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 1em;
            margin-bottom: 1em;
            border-bottom: 1px solid #E1CEC2;

            .innra {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;

                p {
                    font-size: 1.25em;
                }

                img {
                    width: 5em;
                    height: 5em;
                    object-fit: cover;
                }
                
            }
        }

        .verd {
            
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    button {
        margin-top: 1em;
        display: block;
        background: $button-border-background;
        border: $button-border-background solid 1px;
        border-radius: 5px;
        color: white;
        // width: fit-content;
        padding: 10px 15px;
        // margin: 0 auto;
        width: auto;
    }
}

.pontun-container {
    .storitakki {
        display: none;
    }
    
    .litlitakki {
        display: block;
    }
}
