.taeknilegt-modurbord {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    padding: 1em;

}
img{
    setscale:40%;
}
.nv-tags{

p{
    background: #E1CEC2
}

{======
  display: flex;
  flex-direction: column;
  padding: 1em;
}
>>>>>>> 6cfc72e4834618d4ce212d5c9329aaa0774484f7
