/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.375em;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  padding: 1em;
}
header nav .logo {
  align-items: center;
  display: flex;
}
header nav .logo p {
  color: black;
  font-family: "Lora", serif;
  font-size: 1.5em;
  margin-left: 0.5em;
}
header nav .shopping {
  align-items: center;
  display: flex;
}
header nav .shopping img {
  margin-right: 0.5em;
}
header nav .shopping .shopping-button {
  background: none;
  border: none;
}
header nav .shopping-stora {
  display: none;
}
header h1 {
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}
header h2 {
  font-size: 2.25em;
  text-align: center;
}
header .dropdown {
  background-color: white;
  display: none;
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
header .dropdown .merki {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  padding: 1em;
}
header .dropdown .linkar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .dropdown .linkar a {
  color: black;
  margin-bottom: 1em;
}
header .dropdown .linkar input {
  align-self: flex-end;
  margin: auto;
  max-width: 100%;
}

.grad1 {
  display: none;
}

.shopping-button:focus ~ .dropdown,
.dropdown:hover {
  display: block;
}

@media only screen and (min-width: 1000px) {
  header {
    padding-bottom: 0;
  }
  header h1 {
    font-size: 10em;
  }
  header nav .logo {
    flex-grow: 5;
  }
  header nav .shopping {
    flex-grow: 1;
    justify-content: flex-end;
  }
  header nav .shopping-button {
    display: none;
  }
  header nav .shopping-stora {
    align-items: center;
    display: flex;
    flex-grow: 5;
    justify-content: center;
  }
  header nav .shopping-stora a {
    color: black;
    display: flex;
    flex-grow: 1;
    margin-left: 3em;
  }
  header nav .shopping-stora .searchStora {
    border: 1px black solid;
    border-radius: 7px;
    display: flex;
    flex-grow: 5;
    height: 2em;
  }
  header .fyrirsagnir {
    flex-grow: 2;
  }
  header .grad1 {
    align-self: flex-end;
    background: none;
    background: linear-gradient(179deg, rgba(225, 206, 194, 0) 0%, rgba(225, 206, 194, 0) 50%, #fff 50%, #fff 0%);
    display: block;
    flex-grow: 3;
    height: 2.5em;
    width: 100%;
  }
}
.index {
  background-blend-mode: lighten;
  background-image: linear-gradient(#646464, #646464), url("../images/Background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
}
.index nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  padding: 1em;
}
.index nav .logo {
  align-items: center;
  display: flex;
}
.index nav .logo p {
  font-size: 1.5em;
  margin-left: 0.5em;
}
.index nav .shopping {
  align-items: center;
  display: flex;
}
.index nav .shopping img {
  margin-right: 0.5em;
}
.index nav .shopping .shopping-button {
  background: none;
  border: none;
}
.index nav .shopping-stora {
  display: none;
}
.index .tilbodsvika {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.index h1 {
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}
.index h2 {
  font-size: 2.25em;
  text-align: center;
}
.index .dropdown {
  background-color: white;
  display: none;
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.index .dropdown .merki {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
  padding: 1em;
}
.index .dropdown .linkar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index .dropdown .linkar a {
  color: black;
  margin-bottom: 1em;
}
.index .dropdown .linkar input {
  align-self: flex-end;
  margin: auto;
  max-width: 100%;
}

.grad1 {
  display: none;
}

.shopping-button:focus ~ .dropdown,
.dropdown:hover {
  display: block;
}

@media only screen and (min-width: 1000px) {
  .index {
    height: 35em;
    padding-bottom: 0;
  }
  .index h1 {
    font-size: 10em;
  }
  .index nav .logo {
    flex-grow: 5;
  }
  .index nav .shopping {
    flex-grow: 1;
    justify-content: flex-end;
  }
  .index nav .shopping-button {
    display: none;
  }
  .index nav .shopping-stora {
    align-items: center;
    display: flex;
    flex-grow: 5;
    justify-content: center;
  }
  .index nav .shopping-stora a {
    color: black;
    display: flex;
    flex-grow: 1;
    margin-left: 3em;
  }
  .index nav .shopping-stora .searchStora {
    border: 1px black solid;
    border-radius: 7px;
    display: flex;
    flex-grow: 5;
    height: 2em;
  }
  .index .fyrirsagnir {
    flex-grow: 2;
  }
  .index .grad1 {
    align-self: flex-end;
    background: none;
    background: linear-gradient(179deg, rgba(225, 206, 194, 0) 0%, rgba(225, 206, 194, 0) 50%, #fff 50%, #fff 0%);
    display: block;
    flex-grow: 3;
    height: 2.5em;
    width: 100%;
  }
}
footer {
  background-color: #3c2a1e;
  color: #fefefe;
  padding: 1em;
}

.foot-div {
  margin-bottom: 3em;
}
.foot-div h2 {
  border-bottom: 2px solid #fefefe;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.foot-div li {
  margin-top: 0.5em;
}
.foot-div a {
  color: #fefefe;
}

.cc {
  border-top: 1px solid #6f4e37;
  display: flex;
  font-size: 0.875em;
  justify-content: center;
}
.cc p {
  padding-top: 1em;
}

@media only screen and (min-width: 1000px) {
  footer {
    padding-top: 3em;
  }

  .footerStora {
    display: flex;
    justify-content: space-around;
  }
  .footerStora .foot-div {
    flex-grow: 1;
    padding: 1em;
  }
}
main .bold {
  font-weight: bold;
}

.nyjar-viku,
.staersta-voruhus {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.nyjar-viku img,
.staersta-voruhus img {
  margin-bottom: 1em;
}
.nyjar-viku p,
.staersta-voruhus p {
  line-height: 2em;
  margin-top: 1em;
}
.nyjar-viku button,
.staersta-voruhus button {
  background: #6f4e37;
  border: #6f4e37 solid 1px;
  border-radius: 5px;
  color: white;
  display: block;
  justify-self: center;
  margin: 0 auto;
  padding: 10px 15px;
  width: auto;
}
.nyjar-viku .flugvel,
.staersta-voruhus .flugvel {
  display: none;
}

.nyjustu-vorur,
.voruurval-okkar {
  background: #e1cec2;
  padding: 1em;
}
.nyjustu-vorur h2,
.voruurval-okkar h2 {
  margin-bottom: 1em;
}

.vara-single-card {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
  padding: 1em;
}
.vara-single-card img {
  aspect-ratio: 21/9;
  object-fit: cover;
}
.vara-single-card h3 {
  margin-top: 1em;
}
.vara-single-card p {
  margin-top: 1em;
}
.vara-single-card a {
  color: black;
}
.vara-single-card .tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1em;
}
.vara-single-card .tags p {
  background: #e1cec2;
  border-radius: 5px;
  color: black;
  font-size: 1em;
  margin-right: 0.5em;
  margin-top: 0;
  padding: 0.25em;
}
.vara-single-card button {
  background: white;
  border: 1px solid #6f4e37;
  border-radius: 5px;
  cursor: pointer;
  height: 2.75em;
  margin-top: 1em;
  width: 100%;
}

.grad2,
.grad3,
.grad4,
.grad5 {
  display: none;
}

@media only screen and (min-width: 1000px) {
  nav .searchStora {
    display: block;
  }

  .nyjar-viku,
.staersta-voruhus {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    padding: 4em 2em;
  }
  .nyjar-viku .bigdiv h2,
.staersta-voruhus .bigdiv h2 {
    margin-bottom: 1.5em;
  }
  .nyjar-viku .bigdiv p,
.staersta-voruhus .bigdiv p {
    font-size: 1.25em;
    margin-bottom: 1.5em;
  }
  .nyjar-viku button,
.staersta-voruhus button {
    display: inline-block;
    font-size: 0.875em;
    margin: none;
    width: auto;
  }
  .nyjar-viku .flugvel,
.nyjar-viku img,
.staersta-voruhus .flugvel,
.staersta-voruhus img {
    aspect-ratio: 16/9;
    display: block;
  }

  .nyjustu-vorur,
.voruurval-okkar {
    padding: 4em 2em;
  }
  .nyjustu-vorur h2,
.voruurval-okkar h2 {
    margin-left: 6em;
  }
  .nyjustu-vorur .card-holder,
.voruurval-okkar .card-holder {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
  }

  .grad2,
.grad4 {
    background: white;
    background: linear-gradient(179deg, white 0%, white 50%, #e1cec2 50%, #e1cec2 100%);
    display: block;
    height: 2.5em;
    width: 100%;
  }

  .grad3 {
    background: white;
    background: linear-gradient(179deg, #e1cec2 0%, #e1cec2 50%, white 50%, white 0%);
    display: block;
    height: 2.5em;
    width: 100%;
  }

  .grad5 {
    background: white;
    background: linear-gradient(179deg, #e1cec2 0%, #e1cec2 50%, #3c2a1e 50%, #3c2a1e 0%);
    display: block;
    height: 2.5em;
    width: 100%;
  }
}
.nv-title {
  padding: 1em;
}
.nv-title h2 {
  margin-bottom: 1em;
}
.nv-title p {
  font-size: 1.25em;
}
.nv-title .nv-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1em;
  margin-top: 0.25em;
}
.nv-title .nv-tags p {
  background: #e1cec2;
  border-radius: 5px;
  color: black;
  font-size: 1.25em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  padding: 0.25em;
  width: fit-content;
}

@media only screen and (min-width: 1000px) {
  .nyjar-vorur-holder {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
  }
}
.pontun-container {
  padding: 1em;
}
.pontun-container h2 {
  margin-bottom: 2em;
}
.pontun-container .ytri {
  display: flex;
  flex-direction: column;
}
.pontun-container .ytri .stakt {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em 0;
}
.pontun-container .ytri .stakt input {
  border: 1px solid black;
  border-radius: 5px;
  height: 2em;
}
.pontun-container .iKorfu {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.pontun-container .iKorfu .item {
  align-items: center;
  border-bottom: 1px solid #e1cec2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
.pontun-container .iKorfu .item .innra {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.pontun-container .iKorfu .item .innra p {
  font-size: 1.25em;
}
.pontun-container .iKorfu .item .innra img {
  height: 5em;
  object-fit: cover;
  width: 5em;
}
.pontun-container .iKorfu .verd {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}
.pontun-container button {
  background: #6f4e37;
  border: #6f4e37 solid 1px;
  border-radius: 5px;
  color: white;
  display: block;
  margin-top: 1em;
  padding: 10px 15px;
  width: auto;
}

.pontun-container .storitakki {
  display: none;
}
.pontun-container .litlitakki {
  display: block;
}

@media only screen and (min-width: 1000px) {
  .pontun-container h2 {
    font-size: 4em;
    margin-bottom: 0.75em;
  }
  .pontun-container h3 {
    font-size: 2em;
  }
  .pontun-container p {
    font-size: 1.25em;
  }
  .pontun-container .fyrirflex {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr 1fr;
  }
  .pontun-container .fyrirflex .kaupandi .ytri {
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
  }
  .pontun-container .fyrirflex .kaupandi .ytri .efri,
.pontun-container .fyrirflex .kaupandi .ytri .nedri {
    flex-grow: 1;
  }
  .pontun-container .fyrirflex .iKorfu {
    flex-grow: 1;
    margin-top: 0;
  }
  .pontun-container .storitakki {
    display: block;
  }
  .pontun-container .litlitakki {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
